body{
  /* background-image: url(/images/tobse-fritz-BLTcKiKXbzU-unsplash.jpg); */
 background-size:cover;
  background-attachment: fixed;

}
.about{
  font-weight: 300;
  line-height: 30px;
  color: black;
 
}

#bold{
  font-weight: 600;
  font-style: italic;
}
p{
  text-indent: 30px;
}