body{
  background-image: url(/images/raimond-klavins--akeYKYe6BI-unsplash.jpg);
 background-size:cover;
  background-attachment: fixed;
  

}
.about{
  font-weight: 300;
  line-height: 30px;
  color: black;
 
}

#bold{
  font-weight: 600;
  font-style: italic;
}
p{
  text-indent: 30px;
  
}

.container{
  background-color: rgba(255, 255, 255, 0.755);
  border-radius: 15px;
  
  
}

footer{
  color: whitesmoke;
}
